$mainColor :#28a1e0;

input,
label {
   vertical-align: middle;
}

input {
   // width: 18em;
   height: 28px;
   line-height: 28px;
   padding: 0 1em;
   background-color: #fff;

   &:focus {
      border-color: #008bd5;
   }
}

.modal-footer>* {
   margin: 0;
}

.sub_title {
   padding: 0 20px 0 30px;
   margin: 15px 0 0;
   // line-height: 30px;
   font-size: 18px;
   font-weight: 700;
   &::after{
      content: '';
      display: block;
      clear: both;
   }
   .num_revision{
      font-size: 14px;
      font-weight: 700;
      margin: 0 20px;
      color: #333;
   }
}


.nav-tabs {
   padding: 0 1.5em;
}

.activeBtnAni {
   -webkit-animation: activeBtnAni .8s linear infinite;
           animation: activeBtnAni .8s linear infinite;
}

@-webkit-keyframes activeBtnAni {
   0% { opacity: 0; }
   50% { opacity: 1; }
   100% { opacity: 0; }
}

@keyframes activeBtnAni {
   0% { opacity: 0; }
   50% { opacity: 1; }
   100% { opacity: 0; }
}
